/* General body styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.results-container {
  max-width: 98%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

h1 {
  margin: 0; 
  font-size: 48px; 
  background: linear-gradient(180deg, #ff00ff, #00ffff, #ff00ff); 
  background-clip: text; 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  text-align: center; 
  font-weight: bold;
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 10px 20px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.navbar-toggler {
  border: none;
  background-color: transparent;
}

.navbar-toggler-icon {
  color: white;
}

/* Navbar dropdown styling for smaller screens */
.navbar-collapse {
  justify-content: center; /* Center the dropdown items */
}

.navbar-nav {
  text-align: center; /* Center the dropdown links */
}

.navbar-nav .nav-item {
  margin: 5px 0; /* Add spacing between dropdown items */
}



.navbar-nav .nav-item .btn {
  position: relative;
  overflow: hidden;
  font-size: 20px; 
  padding: 14px 15px; 
  background-color: transparent; 
  color: white; 
  border: none; 
  border-radius: 4px;
  cursor: pointer;
}

.navbar-nav .nav-item .btn:hover {
  background-color: transparent; 
  color: white; 
}

.navbar-nav .nav-item .btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px; 
  background: linear-gradient(90deg, #ff00ff, #00ffff, #ff00ff); 
  transition: transform 0.3s ease;
  transform: scaleX(0); 
  transform-origin: right;
}

.navbar-nav .nav-item .btn:hover::after {
  transform: scaleX(1); 
  transform-origin: left;
}

@media (max-width: 619px){
 
  .navbar-collapse{
      justify-content: center;
      width: 100%;
  }
  .navbar-toggler{
      margin:auto
  }
  .navbar-nav .hb-nav-link{
      max-width: 80%;
      width: 80%;
      margin:auto;
  text-align: center;
  }

  h1{
      font-size: 33px;
      text-align: center;
  }
}

/* Search bar styling */
#search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#search-input {
  width: 60%; 
  padding: 15px; 
  font-size: 18px; 
  border: 1px solid #ac47e7; 
  border-radius: 8px; 
  outline: none; 
}

#search-input:focus {
  border-color: #8436b2; 
  box-shadow: 0 0 10px #ac47e7; 
}

/* Search button styling */
.searchbutton {
  padding: 15px 30px; 
  font-size: 20px; 
  background-color: #ac47e7; 
  color: black; 
  border: none;
  border-radius: 8px; 
  cursor: pointer;
  margin-left: 10px; 
}

.searchbutton:hover {
  background-color: #8436b2; 
  box-shadow: 0 0 10px #ac47e7; 
}

/* Styling for the results grid */
#results-grid {
  display: flex;
  flex-wrap: wrap; /* Wrap items when the screen width is less than 600px */
  padding: 10px; /* Add padding around the grid */
  justify-content: center; /* Center the grid items horizontally */
  margin: 0 auto; /* Center the grid container */
}

/* Styling for each GIF image */
#results-grid img {
  display: block;
  width: auto; /* Keep the original width of the image */
  height: auto; /* Maintain the aspect ratio */
  max-width: 100%; /* Ensure images don't exceed their container width */
  border-radius: 8px; /* Adds rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
  margin: 0 auto;
}

